@model mvc_app.ViewModels.Course.CoursePostViewModel

@{
    Layout = "_LayoutAdmin";
}

<section class="page-content">
    <h1 class="page-title">Lägg till kurs</h1>
    <form asp-action="create" method="Post">
        <div class="form-section">
            <label asp-for="Title"></label>
            <input asp-for="Title">
            <span asp-validation-for="Title"></span>
        </div>
        <div class="form-section">
            <label asp-for="CourseNumber"></label>
            <input asp-for="CourseNumber">
            <span asp-validation-for="CourseNumber"></span>

        </div>
        <div class="form-section">
            <label asp-for="WeeksDuration"></label>
            <input asp-for="WeeksDuration">
            <span asp-validation-for="WeeksDuration"></span>
        </div>
        
         <div class="form-section">
            <label asp-for="TeacherId"></label>
             <select asp-for="TeacherId" asp-items="Model.Teachers"></select>
            <span asp-validation-for="TeacherId"></span>
        </div> 
        
        <div class="form-section">
            <label asp-for="StartDate"></label>
            <input asp-for="StartDate">
            <span asp-validation-for="StartDate"></span>
        </div>
        <div class="form-section" class="buttons">
            <button type="Submit">Spara</button>
            <a asp-action="Index" asp-controller="CoursesAdmin">Avbryt</a>
        </div>
    </form>
</section>