<div class="page-content">
    <div class="page-header">
        <h1 class="page-title">
            WestCoast Education
        </h1>
        <h3 class="page-subtitle">Vi levererar kurser inom IT – i klassrum, på distans och on-demand</h3>
    </div>
</div>